<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXTENSION_NAME</key>
	<string>SMBKeepAppEx.appex</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>SMBKeep needs local network access to connect to SMB file servers.</string>
</dict>
</plist>
